.background {
    background: url('/green-background.svg');
}

.section {
    padding-top: 6rem;
}

.spacing {
    margin-inline: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4.1875rem;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.footer {
    display: flex;
    justify-content: flex-start;
    gap: 16.5rem;
    align-items: flex-start;
    flex-wrap: wrap;

}



.headline {
    font-family: "Sulphur Point";
    color: #FFF8E4;
    text-align: start;
    font-style: normal;
    line-height: 4rem;
    max-width: 30.5rem;
    font-size: 2.49638rem;
    line-height: 2.3125rem;
}


.headline h1 {
    align-self: stretch;
    font-size: 2.49638rem;

    font-weight: 200;
    font-family: "Inria Sans";
}


.headline h2 {
    font-size: 2.49638rem;
    font-weight: 700;

}

.highlight {
    font-family: "Sulphur Point";
    font-weight: 600;
    color: #FFBF00;
    margin-right: 0.8rem;
}

.logosFishbase {
    display: flex;
    max-width: 41.73681rem;
    padding: 0.52631rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 1.6rem;
    flex-wrap: wrap;
}

.logosSuport {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}

.subtitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3rem;
}


.subtitle {
    color: #FFF;
    font-family: "Sofia Sans Semi Condensed";
    font-size: 1.78175rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.07125rem;
}

.subitem {
    display: flex;
    align-items: flex-end;
    gap: 0.75rem;
    align-self: stretch;
    color: #FFF;
    font-family: "Sofia Sans Semi Condensed";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    align-items: flex-start;
}

.subitem p {
    word-break: break-word;
}


.lawd {
    position: absolute;
    bottom: 6rem;
    left: 10rem;
}

.link {
    color: #FFF;
    text-decoration-thickness: 5.5%;
    text-underline-offset: 25%
}



@media (max-width:1500px) {

    .spacing {
        margin-inline: 2rem;
    }

    .header,
    .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

}

@media (max-width:768px) {

    .lawd {
        scale: 0.8;

    }

    .logosSuport img {
        scale: 0.7;
    }

    .logosSuport {
        flex-direction: column;
        gap: 0rem;
    }


}

@media (max-width:425px) {

    .headline h1,
    .headline h2,
    .headline h3 {
        font-size: 2rem;

    }

    .logosFishbase {
        justify-content: flex-start;

    }


    .header,
    .footer {
        justify-content: center;
        align-items: flex-center;

    }

    .subtitleContainer {
        width: 100%;
    }

    .lawd {
        bottom: 2rem;
        left: 2rem;
        scale: 0.8;

    }


    .subitem p {
        font-size: 1rem;
        word-wrap: break-word;
    }

}