.select select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 2.25rem;

  background-color: #3e85921f;
}

.select select:focus {
  outline: none;
}

.select option {
  background-color: #3e85921f;
  color: var(--primary-blue);
}
