.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formInput label {
  color: var(--primary-blue);
  font-weight: 700;
}

.formInput input,
.formInput select {
  color: var(--primary-blue);

  background: none;
}

.formInput input:focus {
  outline: none;
}

.formInput input[type='radio'] {
  display: none;
}
