.container {
  display: flex;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.button {
  padding: 0.875rem;
  border: none;
  text-decoration: none;
  all: unset;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms ease;
}

.button:hover::after,
.button.selected::after {
  transform: scaleX(1);
  transform-origin: left;
}

.button .selected {
  transition: 1s all;
}

.button.white {
  color: rgba(255, 255, 255, 0.5);
}

.button.white::after {
  background: linear-gradient(to left, #ffffff 100%, transparent 0%);
}

.button.white.selected,
.button.white:hover {
  color: rgb(255, 255, 255);

  border-bottom-color: rgb(255, 255, 255);
}

.button.blue {
  color: rgba(16, 77, 135, 0.5);
}

.button.blue.selected,
.button.blue:hover {
  color: rgb(16, 77, 135);

  border-bottom-color: rgb(16, 77, 135);
}

.button.blue::after {
  background: linear-gradient(to left, #104d87 100%, transparent 0%);
}
